@import url(./font/NanumSquareNeo.css);

:root {
    --main-color: #D5DAE9;
    --main-color2: #bcc1cf;
    --main-color3: #9ba7ce;
    --background-color: #fdfdfe;
    --default-red-color: #f76868;
}

body * {
    font-family: 'NanumSquareNeo';
}